@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    <h1 class="display-4">Hallo</h1>
    <p>Untuk memudahkan dalam menggunakan app ini, silahkan baca dokumentasi ya...</p>
</div>
